/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  /*background-image: url(../img/hypnotize.png);
  background-size: 200px auto;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  color: #e3561d;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

header {
  background-color: #fff;
  padding: 4rem;
}

@media only screen and (min-width: 720px) {
  header {
    padding: 8rem 4rem;
  }
}

.section1 {
  margin: 0 auto;
  max-width: 720px;
}

header p {
  font-size: 24px;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  margin-top: 0;
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
}

@media only screen and (min-width: 720px) {
  h2 {
    font-size: 36px;
  }
}

h3 {
  margin-bottom: 0;
}

h4 {
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.section2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 720px) {
  .section2 {
    flex-direction: row;
    margin-bottom: 6rem;
  }
}

@media only screen and (min-width: 720px) {
  .section2 .first,
  .section2 .second {
    width: 50%;
  }
}

.section2 .first {
  background: url('../img/photo.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 320px;
}

@media only screen and (min-width: 720px) {
  .section2 .first {
    background-size: 720px auto;
  }
}

.section2 .second {
  padding: 1rem 4rem;
}

.section2 .second h4 {
  margin-bottom: 1rem;
}

.section3 {
  background-color: #e9f6f6;
  padding: 2rem;
}

.work-grid {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work-grid li {
  margin-bottom: 6rem;
}

.work-grid img {
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.work-grid p {
  color: #999;
  font-size: 16px;
  margin-bottom: 0;
}

@media only screen and (min-width: 540px) {
  .work-grid {
    display: flex;
    flex-wrap: wrap;
  }

  .work-grid li {
    margin-bottom: 2rem;
    padding: 1rem;
    width: 50%;
  }
}

@media only screen and (min-width: 720px) {
  .work-grid li {
    width: 33.333%;
  }
}

.section4 {
  padding: 2rem;
}

.recommend-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommend-list li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

@media only screen and (min-width: 720px) {
  .recommend-list {
    display: flex;
    flex-wrap: wrap;
  }

  .recommend-list li {
    border: 0;
    margin: 0;
    padding: 2rem 4rem;
    width: 50%;
  }
}

.recommend-list li:last-child {
  border: none;
}

.recommend-list p {
  font-size: 16px;
}

.recommend-list h4+p {
  color: #999;
  font-style: italic;
}

footer {
  background-color: #e9f6f6;
  padding: 3rem 1rem 4rem;
  text-align: center;
}

.footer-links {
  color: #e3561d;
  font-family: 'Libre Baskerville', serif;
}

.small {
  color: #999;
  font-size: 12px;
}
